.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    width: fit-content;
    margin: auto;
}

/* Insira o código abaixo */

.container1 {

    justify-content: flex-start;/* usar o align items para vertical */
    display: flex;
    
}

.container2 {
    display: flex;
    justify-content: flex-end;
}

.container3 {
   display: flex;
   justify-content: center;
}

.container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container5 {
     display: flex;
    
    align-items: center;
    gap: 300px;
    
}
.container5 .box1{
    margin-right: 20px;
    margin-left: 90px;
}
.container5 .box2{
    margin-right: 40px;
    margin-left: -20px;
}
.container5 .box3{
    margin-right: 10px;
    margin-left: -130px;
}

.container5 .box4{
margin-left: -100px;
margin-right: 80px;


}
.container6 {
    display: flex;
    
    align-items: center;
    gap: 300px;
}

.container6 .box1{
    margin-right: 10px;
    margin-left: 170px;
}
.container6 .box2{
    margin-right: 20px;
    margin-left: -60px;
}
.container6 .box3{
    margin-right: 10px;
    margin-left: -170px;
}

.container6 .box4{
margin-left: -100px;
margin-right: 80px;

}



/*exercicio B */
.container-B {
    display: flex;
    
    flex-direction: column-reverse;
}


/* desafio*/
.container-Desafio {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse; /* para iverter a direcao da liha
*/
}



